#
# Copyright (c) 2021, MADMACHINE LIMITED
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_HW_STACK_PROTECTION=y
CONFIG_MPU=y
CONFIG_ARM_MPU=y
CONFIG_NXP_IMXRT_BOOT_HEADER=n
CONFIG_ROM_START_OFFSET=0
CONFIG_XIP=n
CONFIG_LINKER_LAST_SECTION_ID=n

CONFIG_THREAD_MONITOR=y
CONFIG_DEBUG_THREAD_INFO=y
