#
# Copyright (c) 2021, MADMACHINE LIMITED
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_NXP_IMXRT_BOOT_HEADER=n
CONFIG_XIP=n
CONFIG_LINKER_LAST_SECTION_ID=n

#CONFIG_HEAP_MEM_POOL_SIZE=2843200
CONFIG_THREAD_MONITOR=y
CONFIG_DEBUG_THREAD_INFO=y

CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_STREAM_FLASH=y
CONFIG_STREAM_FLASH_ERASE=y

CONFIG_FILE_SYSTEM=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FILE_SYSTEM_LITTLEFS=y
